<template name="quickFormModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{title}}</h4>
                </div>

                <div class="modal-body">
                     <!-- {{> quickForm collection=collection id=id type=type doc=doc}}   -->
                      {{> quickForm this}}   
                </div>

                <div class="modal-footer">
                    {{#if this.doc._id}}{{> quickRemoveButton collection=this.collection _id=this.doc._id onSuccess=onSuccess class="btn btn-danger"}}{{/if}}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>