<template name="autoFormInput">

    {{#if ($eq data 'code')}}

        <!-- project code cannot be edited -->
        <!-- <a href="{{pathFor 'App.project.code' code=doc.code}}"> -->
            <span class="label label-default">{{doc.code}}</span>
        <!-- </a> -->

    {{else}}

        <div class="editable">

            {{#if editing}}
                {{#autoForm collection="Projects" id=autoformId type="update" doc=doc}}
                    {{ > afFieldInput name=data }}
                {{/autoForm}}
            {{else}}
                <span>{{displayValue}}</span>
            {{/if}}

        </div>

    {{/if}}

</template>